## 1 ) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple list containing the name, position and salary of each person on the list like this:
['Sue', 'boss', 8000, 'John', 'dev', 6500, 'Jessie', 'admin', 5000, 'Julie', 'facilities', 3000]

Expected result: a list

## 2) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple list containing the salary, position and name of each person on the list like this:
[8000, 'boss', 'Sue', 6500, 'dev', 'John', 5000, 'admin', 'Jessie', 3000, 'facilities', 'Julie']

Expected result: a list

## 3) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple dictonary containing the name as the key and the salary as value each person on the list like this:
{'Sue': 8000, 'John': 6500, 'Jessie': 5000, 'Julie': 3000}

Expected result: a dictionary

## 4) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return a simple dictonary containing the name as the key and the salary as value each person on the list like this:
{'Sue': 8000, 'John': 6500, 'Jessie': 5000, 'Julie': 3000} and applying a salary raise of 1000 to each person.

Expected result: a dictionary

## 5) Question #
Defined a dataset as a list of tuples as the following.
Create a Python code which return this list sorted by salary starting with the lowerest to the highest

Expected result: a list of tuples.