In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic = pd.read_csv(r'https://raw.githubusercontent.com/andrsGutirrz/datathonDatasets/master/Titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Survived**: 1 (survived) | 0 (not survived).  
**Pclass**: Passenger's class (1 = first, 2 = second , 3 = third).  
**Name**: Passenger's name (Unique).  
**Sex**: Passenger's sex  
**Age**: Passenger's sex  
**SibSp**: Quantity of siblings or spouse on Titanic.  
**Parch**: Quantity of parents of sons on Titanic.  
**Ticket**: Ticket number (Unique).  
**Fare**: Passenger's fare.  
**Cabin**: Cabin number (Unique).  
**Embarked**: Passenger's port (C = Cherbourg, Q = Queenstown, S = Southampton).

### 1) How many females and males survived ?
return a tuble of integer numbers (females, males)

### 2) Percentage of survival by class  
return dataframe with the following parts  
shape: (3, 3)  
columns = ['class', 'quantity', 'percentage']
index =  range(0, n)  
dtype = Object  
percetage = 0.nnnnnn

### 3) Average age of not survivals  
return an integer number, the 'the smallest integer greater than or equal to x' (ceil function)

### 4) How many survivors had Siblings or a couple  ?
return an integer number

### 5) From what place most of not survivors came from ? 
return a character of the port

### 6) Who had the cheaper ticket and where those people come from  ?
return a tuple with sorted() list of names and character of the port  
([  ],'  ')  
sorted list len : 17