In [1]:
import pandas as pd
import numpy as np

# News Questions El universal

### Read CSV

In [2]:
news = pd.read_csv(r'https://raw.githubusercontent.com/andrsGutirrz/datathonDatasets/master/eluniversal_2019_06_07_articles.csv')
news.head(3)

,body,title,url
0,\nLa procuradora Ernestina Godoy confirmó que ...,Matan a exdiputado de Tláhuac; investigan vínc...,http://www.eluniversal.com.mx/metropoli/cdmx/m...
1,NaN,NaN,http://www.eluniversal.com.mx/deportes/box
2,NaN,NaN,https://www.tangible-eluniversal.com.mx/en-ver...

### Add the news paper id

In [3]:
news['newspaper_uid'] = 'eluniversal'
news.head(3)

,body,title,url,newspaper_uid
0,\nLa procuradora Ernestina Godoy confirmó que ...,Matan a exdiputado de Tláhuac; investigan vínc...,http://www.eluniversal.com.mx/metropoli/cdmx/m...,eluniversal
1,NaN,NaN,http://www.eluniversal.com.mx/deportes/box,eluniversal
2,NaN,NaN,https://www.tangible-eluniversal.com.mx/en-ver...,eluniversal

### Get the host of the url

In [4]:
# hint: use urllib.parse
from urllib.parse import urlparse
news['host'] = news['url'].apply(lambda url: urlparse(url).netloc)
news.head(3)

,body,title,url,newspaper_uid,host
0,\nLa procuradora Ernestina Godoy confirmó que ...,Matan a exdiputado de Tláhuac; investigan vínc...,http://www.eluniversal.com.mx/metropoli/cdmx/m...,eluniversal,www.eluniversal.com.mx
1,NaN,NaN,http://www.eluniversal.com.mx/deportes/box,eluniversal,www.eluniversal.com.mx
2,NaN,NaN,https://www.tangible-eluniversal.com.mx/en-ver...,eluniversal,www.tangible-eluniversal.com.mx

### 1. Frecuencies for each host  
return a pandas series. From most frequence to less frequence

### 2. Fill in the nans of the 'title' column taking part of 'url' column  
In this dataset, there are two columns, 'title' and 'url'.
There are some NaN records in title, but 'url' column can fill these blanks.
The 'title' value is in 'url' values, is the last text from last '/' character 

Additional: Replace '-' by ' ' and the title must by capitalized  

Example: www.facebook.com/andres/gutierrez-arcia so, the title must be 'Gutierrez Arcia'