In [1]:
import pandas as pd
import numpy as np

# Read dataset

In [2]:
pymarket = pd.read_csv('https://raw.githubusercontent.com/andrsGutirrz/datathonDatasets/master/pymarket.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

### 1) How much Tom has expended in Pymarket
return a value

### 2) Total and mean of Tom and Joe expenses  
return a dataframe cols: Tom and Joe ; index: sum and mea 
in that order

### 3) Which are the days in which the friends expensed more than $100 together  
return series of dates from oldest to newest

### 4) Which are the days in which the friends didnt go to the market, any of them
return list of string of dates from oldest to newest

### 5) Who spent more than the others and who spent less (Whole records)
return tuple of the names (Who spend more,   Who spend less)

### 6) Who was the guy that visit the market more frecuently
return the name (string)

### 7) On average, who spends  more every bi-weekly?
return a name (str)

### 8) Which are the dates in which each friend spends less than $10  
returns a list of dates from oldest to newest

### 9) Create a new column called 'Tips' and calculate the total amount payed by tips for all friends
Our friends usually pay tips to the market. The value of tip is the value that rounds (ceil) the total cost by person.
Example, if Tom pays \\$8.3, then the tip will be \\$0.7  
Return a dataframe with 'Tips' column

### 10)  Find out how much Tom and Charlie could have saved in total if the discount system were available when they started buy in Pymarket
The PymarketÂ  has decided to implement discounts system. Now for each purchase someone made in which spend more than $ 100, that person will receive a 7% discount  
return tuple of *ints* of the save amount of money (Tom,Charlie)